{% extends "base.html" %}
{% block content %}
<style>
p{
text-align: justify;
}


</style>
<div class="col-xs-12 col-lg-12">
    <h2>The Alternative Facts</h2>
</div>
<div class="clearfix"></div>
<!--<hr/>-->
{% for fact in facts %}
<div class="col-xs-6 col-lg-4" style="margin-bottom:5px;">
    <div class="text-center">
        <img width="250" height="150" src="{{MEDIA_URL}}{{ fact.image.url }}" class="rounded"
             alt="{{ fact.title|truncatechars:30 }}">
    </div>
    <h3>{{ fact.title|truncatechars:30 }}</h3>
    <p>{{ fact.body|striptags|truncatechars:260 }} </p>
    <p><a class="btn btn-info" href="fact/{{fact.id}}" role="button">Read details &raquo;</a></p>
</div><!--/.col-xs-6.col-lg-4-->
{% if forloop.counter|divisibleby:3 %}
<div class="clearfix"></div>
{% endif %}
{% endfor %}
<div class="col-xs-12 col-lg-12">
    <h2>The Newspaper Posts</h2>
</div>
<div class="clearfix"></div>
<hr/>
{% for newspaper_post in newspaper_posts %}
<div class="col-xs-6 col-lg-4" style="margin-bottom:5px;">
    <div class="text-center">
        <img width="250" height="100" src="{{ newspaper_post.newspaper.logo.url }}" class="rounded"
             alt="{{ newspaper_post.title|truncatechars:30 }}">
    </div>
    <h3>{{ newspaper_post.title|truncatechars:30 }}</h3>
    <p>{{ newspaper_post.body|striptags|truncatechars:260 }} </p>
    <p><a class="btn btn-info" href="post/{{newspaper_post.id}}" role="button">Read details &raquo;</a></p>
</div><!--/.col-xs-6.col-lg-4-->
{% if forloop.counter|divisibleby:3 %}
<div class="clearfix"></div>
{% endif %}
{% endfor %}

{% endblock %}