{% extends "base.html" %}
{% block content %}
<div class="col-xs-12 col-lg-12">
    <h2>{{ post.title }}</h2>
</div>
<div class="clearfix"></div>
<hr/>

<div class="col-xs-12 col-lg-12" style="margin-bottom:5px;">
    <div class="text-center">
        <img src="{{post.image_link}}" class="rounded" style="width: 100%"
             alt="{{ post.title }}">
    </div>
    <p>{{ post.body|safe }} </p>
    <p><a target="_blank" class="btn btn-info" href="{{post.reference}}" role="button">Read details &raquo;</a></p>
</div><!--/.col-xs-6.col-lg-4-->
<div class="clearfix"></div>

<div class="col-xs-12 col-lg-8">
    <h2>From Other Newspapers</h2>
    <hr/>
    {% for newspaper_post in post.fact.fact.all %}
    <div class="col-xs-12 col-lg-6" style="margin-bottom:5px;">
        <div class="text-center">
            <img width="250" height="150" src="{{ newspaper_post.image_link }}" class="rounded"
                 alt="{{ newspaper_post.title|truncatechars:30 }}">
        </div>
        <h3>{{ newspaper_post.title|truncatechars:30 }}</h3>
        <p>{{ newspaper_post.body|striptags|truncatechars:265 }} </p>
        <p><a class="btn btn-info" href="/post/{{newspaper_post.id}}" role="button">Read details &raquo;</a></p>
    </div><!--/.col-xs-6.col-lg-4-->
    {% endfor %}
</div>
<div class="col-xs-12 col-lg-4">
<h2>The Fact</h2>
    <hr/>

    <div class="col-xs-12 col-lg-12" style="margin-bottom:5px;">
        <div class="text-center">
            <img width="250" height="150" src="{{ post.fact.image.url }}" class="rounded"
                 alt="{{ newspaper_post.title|truncatechars:30 }}">
        </div>
        <h3>{{ post.fact.title|truncatechars:30 }}</h3>
        <p>{{ post.fact.body|striptags|truncatechars:265 }} </p>
        <p><a class="btn btn-info" href="/fact/{{post.fact.id}}" role="button">Read details &raquo;</a></p>
    </div><!--/.col-xs-6.col-lg-4-->

</div>

{% endblock %}